/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Center the content */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

/* Container for pitch and other elements */
#content {
  width: 90%; /* Set the desired width for your pitch */
  max-width: 1100px; /* Maximum width to ensure it doesn't get too large on bigger screens */
  margin: auto; /* This will center the pitch horizontally */
  text-align: center; /* Center-align the text */
}

/* Tooltip style */
.tooltip {
  position: fixed;
  text-align: center;
  padding: 6px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid #333;
  border-radius: 3px;
  pointer-events: none;
  z-index: 10;
  visibility: hidden; /* Start with tooltip hidden */
}

/* Style for the soccer pitch */
.pitch {
  margin-top: 20px;
  position: relative;
  display: block; /* Make it a block element to fill the width of the container */
  width: 100%; /* Full width */
  padding-top: 50%; /* Aspect ratio: height is 50% of the width */
  background: #060;
  border: 1px solid #fff;
}

/* Style for player markers */
.player-marker {
  fill: #fff;
  cursor: pointer;
}

/* Headers for team formations */
.formation-header {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
