/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; /* Better readability */
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#image-container {
    position: relative;
    width: 100%;
}

#image-container:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%; /* Adjust the height of the gradient as needed */
    background: linear-gradient(180deg, transparent, rgba(0,0,0,1)); /* Creates the black fading effect */
}

#main-header {
    position: absolute;
    bottom: 20%; /* Position the header towards the bottom of the image */
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    width: 80%; /* Ensures text doesn't spread too wide */
    background: none; /* Remove the previous background */
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#intro-text {
    margin: 1px;
    text-align: left;
    max-width: 1000px;
}

#context-text {
  margin: 10px;
  text-align: left;
  max-width: 1000px;
}

#match-narrative {
  margin: 10px;
  text-align: left;
  max-width: 1000px;
}

#gameAnalysis {
    margin: 10px;
    text-align: left;
    max-width: 1000px;
}


#bar-chart {
    margin: 10px;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    padding: 4px;
    font: 14px 'Roboto', sans-serif;
    background: lightsteelblue;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
}

#slider-container {
    width: 200px;
    margin: 10px auto;
}

.slider {
    width: 100%;
}

.axis-label {
    fill: #333;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.goal-dot {
    stroke: #333;
    stroke-width: 1px;
}

.legend {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.bracket-container {
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .round {
    display: flex;
    justify-content: center;
  }
  
  .match {
    justify-content: space-between;
    margin: 5px;
    width: auto; /* Adjust width to ensure content fits on one line */
    text-align:center;
    padding: 0 10px; /* More internal space */
  }
  

  .team {
    padding: 5px;
    margin: 5px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
  }
  
  .team.winner {
    font-weight: bold;
    background-color: #d4edda;
    color: green;
  }
  
  .connector {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 20px;
    height: 50%;
  }
  
  .round-label {
    text-align: center;
    vertical-align: center;
    font-weight: bold;
  }

  #soccer-pitch {
    align-items: center;
}

/* Style for the soccer pitch */
.pitch {
    margin:20px;
}
